
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <input type="hidden" id="hdId" />
                                    <label class="col-md-2 control-label">
                                        Category Name:
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlCategory" name="ddlCategory"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Code:
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" id="txtCode" name="txtCode" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        ProductName:
                                    </label>
                                    <div class="col-md-4">
                                        <textarea id="txtProductName" name="txtProductName" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Product Category:
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlProductCategory" name="ddlProductCategory">
                                            <option value="-1">Select</option>
                                            <option value="1">Raw Material</option>
                                            <option value="2">Finished Goods</option>
                                        </select>
                                    </div>
                                </div>

                                <fieldset>
                                    <div class="form-actions">
                                        <div class="col-md-12">
                                            <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="Save()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                            <button class="btn btn-w-m btn-primary" data-style="expand-left" id="btnUpdate" type="button" onclick="Update()"><i class="fa fa-save"></i>&nbsp; Update</button>
                                            @*<button class="btn btn-w-m btn-primary" data-style="expand-left" id="btnUpdate" type="button" onclick="PopupForm('@Url.Action("Edit","Product")')"><i class="fa fa-save"></i>&nbsp; Update</button>*@
                                            <button class="btn btn-danger" data-style="expand-left" id="btnDelete" type="button" onclick="Delete()"><i class="fa fa-minus"></i>&nbsp; Delete</button>
                                            <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>

                                        </div>
                                    </div>
                                </fieldset>

                                <div class="ibox-title">
                                </div>
                                <br />
                                <br />

                                <div class="ibox-content" id="divInfo">
                                    <div class="form-group">
                                        <div class="col-md-12 table-responsive" id="div-productGroup">
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <form class="bs-component">
                        <script id="templateProductGroupModal" type="text/html">
                            <table class="table table-bordered table-striped table-hover" id="productGroupTableModal">
                                <thead>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Product Type</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                    {{#ProductGroupSearch}}
                                    <tr>
                                        <td> {{Id}}</td>
                                        <td> {{Category.CategoryName}}</td>
                                        <td> {{Code}}</td>
                                        <td> {{ProductName}}</td>
                                        <td> {{ProductType}}</td>
                                        <td class="action-sm">
                                            <a class="btn btn-primary btn-xs" onclick="LoadForEdit('{{Id}}')"><i class="fa fa-edit"></i> Select</a>
                                        </td>
                                    </tr>

                                    {{/ProductGroupSearch}}
                                </tbody>
                            </table>
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/Product.js"></script>
