<title >
    :Sales Page
</title>
<div class="row">
    <label>Sales</label>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well bs-component">
                        <form class="form-horizontal" style="height:75px">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">
                                        Invoice No:
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" value="001" readonly id="txtPoNo" name="txtPoNo" class="form-control" style="width:200px; height:35px"/>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-md-2 col-md-offset-4 control-label">
                                            Customer:
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" id="ddlCustomer" name="ddlCustomer" onchange="LoadSalesOrderList()" style="width:200px; height:35px"></select>
                                    </div>
                                    <div class="col-md-4" style="text-align:left;">
                                        <label class="col-md-2">
                                            Sales Type:
                                        </label>
                                        <div class="col-md-10">
                                            <select class="form-control" id="ddlSupplier" name="ddlSupplier">
                                                <option value="1">Local</option>
                                                <option value="1">Exported</option>
                                                <option value="1">Sheba</option>
                                                <option value="1">Exampted</option>
                                                <option value="1">Tariff</option>
                                            </select>
                                        </div> 
                                    </div>
                                     
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        Notes:
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" id="txtDescriptions" name="txtDescriptions" class="form-control"  style="width:200px; height:35px" placeholder="Notes"/>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="txtCoutha" name="txtCoutha" class="form-control" style="width:200px; height:35px" placeholder="Dc No" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" id="txtDate" name="txtDate" class="form-control" style="width:200px; height:35px" placeholder="Dates"/>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <div class="text-center">
                                            <button class="btn btn-primary" id="btnAddFromOrders" type="button" data-toggle="modal" data-target="#myModal">Add Sell From Orders</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                    <div>                        
                        <div class="ibox-content" id="divInfo">
                            <div class="form-group">
                                <h4>Added Sales Items</h4>
                                <div class="col-md-12 table-responsive" id="div-sales-add">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8" id="div-salesOrderGridGroup">

                                </div>
                                <div class="col-md-4">
                                    Total Amount:<label id="lblTotalAmountA">0.0</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 table-responsive" id="div-inventoryGroup">
                                </div>
                            </div>

                        </div>
                    </div>                                   
                    <div class="col-lg-4 col-lg-offset-1">
                        <form class="bs-component">
                            
                                <script id="templateInventoryGroupModal" type="text/html">
                                    <table class="table table-bordered table-striped table-hover" id="inventoryGroupTableModal">
                                        <thead>
                                        <th>Id</th>
                                        <th>Id</th>
                                        <th>Product</th>
                                        <th>Unit</th>
                                        <th>Product Type</th>
                                        <th>Godown</th>
                                        <th>Stock Qty</th>
                                        <th>Sale Qty</th>
                                        <th>দাম/বস্তা</th>
                                        <th>Action</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        {{#InventoryGroupSearch}}
                                        <tr>
                                            <td>{{Id}}</td>
                                            <td>{{Product.Id}}</td>
                                            <td> {{Product.ProductName}}</td>
                                            <td> {{QtyInBale}}</td>
                                            <td></td>
                                            <td>{{WareHouse.WareHouseName}}</td>
                                            <td> {{BalanceQty}}</td>
                                            <td width="10px">
                                                <input type="text" name="txtSalesQty" id="txtSalesQty" class="datatable-textbox-style" />
                                            </td>
                                            <td width="10px">
                                                <input type="text" name="txtRate" id="txtRate" class="datatable-textbox-style"  />
                                            </td>
                                                <td class="action-sm">
                                                    <a class="datatable-submit-button" id="btnAdd" onclick="LoadForAdd('{{Id}}')"><i class="fa fa-edit"></i>Add</a>
                                                </td>
                                            <td style="display:none;">{{WarehouseId}}</td>
                                            </tr>
                                            {{/InventoryGroupSearch}}
                                        </tbody>
                                    </table>
                                </script>                         
                        </form>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Discount:
                                </label>
                                <div class="col-md-4">
                                    <input type="number" id="txtDiscount"  name="txtDiscount" value="0" class="form-control" style="width:200px; height:35px" />
                                </div>
                                <label class="col-md-2 control-label">
                                    Discount Notes:
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="txtDiscountNotes" name="txtDiscountNotes" class="form-control" style="width:200px; height:35px"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Track No:
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="txtDelivery" name="txtDelivery" class="form-control"/>
                                </div>
                                <label class="col-md-2 control-label">
                                    Driver Mob:
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="txtDriverMob" name="txtDriverMob" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Driver Name :
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="txtDriverName" name="txtDriverName" class="form-control" />
                                </div>
                                <label class="col-md-2 control-label">
                                    Rent :
                                </label>
                                <div class="col-md-4">
                                    <input type="number" id="txtRentAmount" name="txtRentAmount" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content" id="divInfo">
                            <div class="form-group">
                                <div class="col-md-8" id="div-salesOrderGridGroup">

                                </div>
                                <div class="col-md-4">
                                    Grand Total:<label id="lblGTotal">0.0</label>
                                </div>
                            </div>

                        </div> 
                        <div class="col-md-4">
                                <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="Save(this)"><i class="fa fa-save"></i>&nbsp; Save</button>
                                <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>
                        </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="ibox-content" id="divInfo2">
                        <br/><br/>
                        <div class="form-group">
                            <div class="col-md-12 table-responsive" id="div-salesOrderGroup">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-lg-offset-1">
    <form class="bs-component">
        <script id="templateSalesOrderGroupModal" type="text/html">
            <table class="table table-bordered table-striped table-hover" id="salesOrderGroupTableModal">
                <thead>
                    <th>Id</th>
                    <th>OrderNo</th>
                    <th>আইটেম</th>
                    <th>বস্তা (অর্ডার)</th>
                    <th>কেজি /বস্তা</th>
                    <th>দাম /বস্তা</th>
                    <th>বস্তা (বিক্রয়)</th>
                    <th>দাম (বিক্রয়)</th>
                    <th></th>
                    <th>Godown</th>
                    <th>Add</th>
                     <th style="display:none">ProductId</th>
                </thead>
                <tbody>
                {{#SalesOrderGroupSearch}}
                <tr>
                    <td>{{Id}}</td>
                    <td> {{SalesOrderId}}</td>
                    <td> {{Product.ProductName}}</td>
                    <td> {{BaleQty}}</td>
                    <td> {{BaleWeight}}</td>
                    <td> {{Rate}}</td>
                    <td>
                        <input type="text" name="txtRateOrder" value="{{BaleQty}}" id="txtRateOrder" class="datatable-textbox-style" />
                    </td>
                    <td>
                        <input type="text" name="txtDeliveryQty" value="{{Rate}}" id="txtDeliveryQty" class="datatable-textbox-style" />
                    </td>
                    <td>
                        <input type="checkbox" class="checkbox" id="chkOrderComplete" value="true"/>
                    </td>
                    <td>
                        <select class="form-control" id="ddlWareHouse" name="ddlWareHouse">
                            <option value="0">পছন্দ করুন</option>
                            <option value="1">Godown-1</option>
                            <option value="3">Godown-2</option>
                        </select>
                    </td>
                    <td>
                            <a class="datatable-submit-button" id="btnAddOrder" onclick="LoadForAddOrder('{{Id}}')">Add</a>
                    </td>

                    <td style="display:none;"> {{ProductId}}</td>
                    </tr>

                    {{/SalesOrderGroupSearch}}
                </tbody>
            </table>
        </script>
    </form>
</div>

<script id="templateSalesGroupModalGrid" type="text/html">
    <table class="table table-bordered table-striped table-hover" id="salesGroupTableModalGrid">
        <thead>
        <th> </th>
        <th>আইডি</th>
        <th>আইটেম</th>
        <th>বস্তা</th>
        <th>বস্তা/কেজি</th>
        <th>কেজি</th>
        <th>দাম/বস্তা</th>
        <th>মোট দাম</th>
        <th>অর্ডার আইডি</th>
        <th>Action</th>
        <th></th>
        </thead>
        <tbody>
        {{#SalesGroupSearchGrid}}
        <tr>
            <td>{{countCount}}</td>
            <td>{{ProductId}}</td>
            <td>{{ProductName}}</td>
            <td>{{BaleQty}}</td>
            <td>{{BaleWeight}}</td>
            <td>{{TotalQtyInKG}}</td>
            <td>{{Rate}}</td>
            <td>{{Amount}}</td>
            <td>{{SalesOrderId}}</td>
            <td class="action-sm">
                <a class="btn btn-danger" onclick="OnDeleteSalesOrder('{{countCount}}')"><i class="fa fa-trash-o"></i></a>
            </td>
            <td style="display:none;">{{WarehouseId}}</td>
        </tr>
        {{/SalesGroupSearchGrid}}
        </tbody>
    </table>
</script>

<script>
     function calculateRow(row) {
         var price = +row.find('input[name^="price"]').val();
     }

     function calculateGrandTotal() {
         var grandTotal = 0;
         $("table.order-list").find('input[name^="price"]').each(function () {
             grandTotal += +$(this).val();
         });
         $("#grandtotal").text(grandTotal.toFixed(2));
     }
</script>
<script src="~/Scripts/app/CommonLoader.js"></script>
<script src="~/Scripts/app/Sales.js"></script>

<script>
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#txtDate').val(today);

        LoadInvoiceNo("txtPoNo");
        LoadInventoryList();
        LoadCustomerCombo("ddlCustomer");
        Expression();
    });
</script>