@model RiceMill_MVC.Models.Customer
@{
    ViewBag.Title = "Customer Setup";
}

<link rel="icon" type="img/x-icon" href="~/Content/Images/bill.jpg" />

<style type="text/css">
    fieldset {
        margin: 4px;
        border: 1px solid silver;
        padding: 4px;
        border-radius: 2px;
        border-color: lightgray;
    }

    legend {
        padding: 2px;
        font-size: 14px;
        font-weight: bolder;
        color: grey;
    }
</style>

  <div class="page-title">
                <div>
                    <h1><i class="fa fa-edit"></i>Customer</h1>
                   
                </div>
                <div>
                    <ul class="breadcrumb">
                        <li><i class="fa fa-home fa-lg"></i></li>
                        <li>Forms</li>
                        <li><a href="#">Form Components</a></li>
                    </ul>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well bs-component">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <input type="hidden" id="hdId" />
                                                <label class="col-md-2 control-label">
                                                    Customer Name:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtCustomerName" name="txtCustomerName" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" id="hdId" />
                                                <label class="col-md-2 control-label">
                                                    Customer Code:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtCustomerCode" name="txtCustomerCode" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                     Contact Name:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtCPName" name="txtCPName" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Opening Balance:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="number" value="0" id="txtOpeningBalance" name="txtOpeningBalance" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control" id="ddlNature" name="ddlNature">
                                                        <option value="Dr">Dr</option>
                                                        <option value="Cr">Cr</option>
                                                    </select>
                                                </div>
                                            </div>

                                           <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Address:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtAddress" name="txtAddress" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Phone:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtPhone" name="txtPhone" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Email:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtEmail" name="txtEmail" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Limit:
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" id="txtLimit" name="txtLimit" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">
                                                    Description :
                                                </label>
                                                <div class="col-md-4">
                                                    <textarea id="txtDescription" name="txtDescription" class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <fieldset>
                                                <div class="form-actions">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-w-m btn-info" data-style="expand-left" id="btnSave" type="button" onclick="Save()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                                        <button class="btn btn-w-m btn-primary" data-style="expand-left" id="btnUpdate" type="button" onclick="Update()"><i class="fa fa-save"></i>&nbsp; Update</button>
                                                        <button class="btn btn-danger" data-style="expand-left" id="btnDelete" type="button" onclick="Delete()"><i class="fa fa-minus"></i>&nbsp; Delete</button>
                                                        <button class="btn btn-w-m btn-success" type="button" id="btnReset" onclick="ResetForm()"><i class="fa fa-refresh"></i>&nbsp;Reset</button>

                                                    </div>
                                                </div>
                                            </fieldset>

                                            <div class="ibox-title">
                                                @*<h5>Color List</h5>*@
                                            </div>
                                            <br />
                                            <br />

                                            <div class="ibox-content" id="divInfo">

                                                <div class="form-group">
                                                    <div class="col-md-12 table-responsive" id="div-productGroup">
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="txtcustomeid" class="form-control" />
                                    <a class="btn btn-primary btn-xs" id="link" href="" onclick="UpdateLink()">Report</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-1">
                                <form class="bs-component">
                                        <script id="templateProductGroupModal" type="text/html">
                                            <table class="table table-bordered table-striped table-hover" id="productGroupTableModal">
                                                <thead>
                                                <th>ID</th>
                                                <th>Name </th>
                                                <th>Customer Code</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Limit</th>
                                                <th>Action</th>
                                                </thead>
                                                <tbody>
                                                    {{#ProductGroupSearch}}
                                                    <tr>
                                                        <td> {{Id}}</td>
                                                        <td> {{Name}}</td>
                                                        <td>{{Code}}</td>
                                                        <td>{{Phone}}</td>
                                                        <td>{{Email}}</td>
                                                        <td>{{Limit}}</td>
                                                        <td class="action-sm">
                                                            <a class="btn btn-primary btn-xs" onclick="LoadForEdit('{{Id}}')"><i class="fa fa-edit"></i> Select</a>
                                                        </td>
                                                    </tr>
                                                    {{/ProductGroupSearch}}
                                                </tbody>
                                            </table>
                                        </script>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
<script src="~/Scripts/app/Customer.js"></script>
<script>
    $(document).ready(function () {
        LoadListData();
    });

    function UpdateLink() {
        var ValueId = $("#txtcustomeid").val();
        console.log(ValueId);
        document.getElementById("link").href = "/Report/Viewer/ReportViewer.aspx?ReportName=CustomerTransaction&invoiceId=" + ValueId;
    }
</script>
